/* Fonts */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Josefin Slab', serif; */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&family=Roboto&display=swap');

/* Variables */
:root {
  --primaryColor: lightslategray;
  --accentColor: #e3553f;
  --fontColor: #4F4F4F;
  --titleFont:'Fredericka the Great', cursive;
  --accentFont:'Josefin Slab', serif;
  --bodyFont:'Roboto', sans-serif;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/*General Styles*/
* {
  box-sizing:border-box;
  max-width:100%;
}
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Roboto Mono', monospace;
    color:var(--fontColor);
}
h1{
    font-family: var(--titleFont);
    font-size:7rem;
}
span{
    font-weight:bold;
}
a{
    text-decoration:none;
    color:white;
}
section{
    padding:2% 0;
}

/* header styles */
header {
  background-color:var(--primaryColor);
  width:100%;
}
header h1 {
  color:black;
  text-shadow: .125vh .125vh #333333;
  margin:1%;
}
nav {
  display:flex;
  flex-flow: row nowrap;
  margin:0 4%;
  justify-content:flex-start;
}
nav a {
  font-family: var(--bodyFont);
  padding:1%;
  border:1px solid black;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:2rem;
}
nav a:hover {
  background:var(--accentColor);
}

/* main section styles */
main section.main {
  display:flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items:center;
}
main section .hero {
  width:50%;
  margin:2%;
}
main section .text {
  width:50%;
  display:flex;
  margin:1%;
  flex-flow: column nowrap;
  justify-content:flex-end;
  align-items: flex-start;
}
.text h2 {
  color:black;
  font-size:5rem;
  font-family: var(--accentFont);
  padding:1%;
}
.text a {
  background:var(--accentColor);
  color:white;
  font-family:var(--bodyFont);
  /* width:6vw; */
  font-size:1.8rem;
  padding:2%;
  margin:1%;
  text-align:center;
}
.text a:hover{
  background:white;
  color:var(--accentColor);
  border: 1px solid black;
}
.text p {
  padding:2vw;
  font-family:var(--bodyFont);
  font-size:1.8rem;
}

/* gallery section styles */
main section.gallery {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-evenly;
}
.gallery .project {
  width:400px;
  display:flex;
  align-items:center;
  flex-flow:column nowrap;
  font-family:var(--bodyFont);
  font-size:2rem;
  padding:2%;
}
.gallery .project img {
  border-radius: 5px;
}
.gallery .project img:hover {
  opacity:92%;
  border:1px solid black;
}

/* footer styles */
footer {
  background:var(--primaryColor);
  width:100%;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:space-evenly;
}
footer p{
  font-family: var(--accentFont);
  font-size:2.5rem;
  color:white;
  margin:1% 0;
}
footer a.contact-btn{
  background:var(--accentColor);
  color:white;
  font-family:var(--bodyFont);
  font-size:2rem;
  padding:1%;
  /* margin:1% 0; */
  text-align:center;
}
footer a.contact-btn:hover{
  background:white;
  color:var(--accentColor);
  border: 1px solid black;
}
footer .socials {
  display: flex;
  width:40%;
  margin:1%;
  justify-content:space-evenly;
}
footer .socials a {
  color:white;
  font-family:var(--bodyFont);
  margin:1%;
}
footer .socials a:hover {
  color:black;
}
h2.about, h2.contact, h2.projects {
  font-family:var(--bodyFont);
  font-size:3rem;
}

/* tablet */
@media (max-width:800px) {
  .gallery .project {
    width:50%;
  }
  main section .hero{
    height:50%;
  }
}

/* mobile */
@media (max-width:500px) {
  h1 {
    font-size:5rem;
    text-align:center;
  }
  nav {
    width:100%;
    flex-direction:column;
    align-items:center;
    margin:0,auto;
  }
  nav a{
    width:30%;
    padding:0 2%;
  }
  main section.main {
    flex-direction:column;
    align-items: center;
  }
  .main .hero {
    width:90%;
  }
  .main .text {
    width:80%;
    align-items:center;
    text-align:center;
  }
  .text h2 {
    font-size:4.5rem;
  }
  .gallery {
    flex-direction:column;
  }
  footer .socials {
    width:80%;
    justify-content:space-evenly;
  }
}
