/* Fonts */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Josefin Slab', serif; */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&family=Roboto&display=swap');

/* Variables */
:root {
  --primaryColor: lightslategray;
  --accentColor: #e3553f;
  --titleFont:'Fredericka the Great', cursive;
  --accentFont:'Josefin Slab', serif;
  --bodyFont:'Roboto', sans-serif;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* header styles */
header {
  background:var(--primaryColor);
  height:25vh;
  display:flex;
  flex-flow: column nowrap;
}
header h1 {
  color:black;
  font-size:8vh;
  font-family: var(--titleFont);
  text-shadow: .125vh .125vh #333333;
  padding:2vw;
}
a {
  text-decoration:none;
}
nav {
  display:flex;
  width: 50vw;
  height: 5vh;
  /* border: 1px solid black; */
  flex-flow: row nowrap;
  margin-left:5vw;
  justify-content:flex-start;
}
nav a {
  font-family: var(--bodyFont);
  padding:1.25vw;
  margin:0;
  border:.125vh solid black;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:2.4vh;
}
nav a:hover {
  background:var(--accentColor);
}

/* main section styles */
main section.main {
  display:flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
}
main section .hero {
  background:url(https://picsum.photos/750/450?random=1) no-repeat;
  width:40vw;
  height:45vh;
  margin:2vw;
}
main section .text {
  width:50vw;
  height:45vh;
  display:flex;
  margin:2vw;
  flex-flow: column nowrap;
  justify-content:flex-end;
  align-items: flex-start;
}
.text h2 {
  color:black;
  font-size:4.8vh;
  font-family: var(--accentFont);
  padding:2vh;
}
.text a {
  background:var(--accentColor);
  color:white;
  font-family:var(--bodyFont);
  /* width:6vw; */
  font-size:2vh;
  padding:2vh;
  margin:1vw;
  text-align:center;
}
.text a:hover{
  background:white;
  color:var(--accentColor);
  border: 1px solid black;
}
.text p {
  padding:2vw;
  font-family:var(--bodyFont);
  font-size:2vh;
}

/* gallery section styles */
main section.gallery {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}
.gallery .project {
  width:400px;
  height:335px;
  display:flex;
  align-items:center;
  flex-flow:column nowrap;
  font-family:var(--bodyFont);
  font-size:2vh;
}
.gallery .project img {
  border-radius: 5px;
}
.gallery .project:hover {
  opacity:92%;
}

/* footer styles */
footer {
  background:var(--primaryColor);
  height:20vh;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:space-evenly;
}
footer p{
  font-family: var(--accentFont);
  font-size:4vh;
  color:white;
}
footer a.contact-btn{
  background:var(--accentColor);
  color:white;
  font-family:var(--bodyFont);
  /* width:6vw; */
  font-size:2vh;
  padding:2vh;
  margin:1vw;
  text-align:center;
}
footer a.contact-btn:hover{
  background:white;
  color:var(--accentColor);
  border: 1px solid black;
}
footer .socials {
  display: flex;
  width:20vw;
  justify-content:space-evenly;
}
footer .socials a {
  color:white;
  font-family:var(--bodyFont);
  margin:4px;
}
footer .socials a:hover {
  color:black;
}
h2.about, h2.contact, h2.projects {
  font-family:var(--bodyFont);
  font-size:3vh;
}

/* tablet */


/* mobile */
